<div class="absolute top-0 w-full" style="background-color: #DFD7DC; height: 80px;">
  <!-- Le petit cercle à gauche -->
  <div class="absolute rounded-full" style="background-color: #EE0000; top: 18px; left: 30px; width: 45px; height: 45px; overflow: hidden;"></div>
  <!-- Rectangle contenant le nom du contact -->
  <div class="absolute" style="background-color: transparent;left:29px ;height: 80px; width: 200px; right: 30px; text-align: center; display: flex; align-items: center; justify-content: center;">
    <p>{{ username }}</p>
  </div>
</div>
